.cursor--wrapper {
  background-color: black;
  position: relative;
  padding-bottom: 56.25%;
  --color-text: #ffffff;
  --color-bg: #000000;
  --color-link: #82ff73;
  cursor: none;
  overflow: hidden;
}

.cursor--body {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12000;
  color: var(--color-text);
}

.cursor--video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 70px;
  height: 70px;
  left: -35px;
  top: -35px;
  z-index: 11000;
  padding: 10px;
}
.cursor--small svg {
  position: relative;
  z-index: 1;
}
.cursor--circle {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--color-link);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.svg--button__triangle {
  fill: var(--color-link);
}

.svg--button__circle {
  stroke: var(--color-link);
}

.pulse,
.pulse:after,
.pulse:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.pulse:after,
.pulse:before {
  content: '';
  animation: pulseCursor 1s infinite;
  transform: scale(0);
  opacity: 1;
  transform-origin: center center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-link);
  border-radius: 50%;
}
.pulse:before {
  animation-delay: 0.35s;
}

@keyframes pulseCursor {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
